<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% for configuracion in configuraciones %}
        <link rel="shortcut icon" href="{{ configuracion.favicon.url }}" type="image/x-icon">
        <link rel="icon" href="{{ configuracion.favicon.url }}" type="image/x-icon">
        <title>{{ configuracion.nombre_de_la_pagina }}</title>
    {% endfor %}

    <!-- Bootstrap -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <link href="static/css/fontawesome.css" rel="stylesheet">
    <link href="static/css/themify-icons.css" rel="stylesheet">
    <link href="static/css/magnific-popup.css" rel="stylesheet">

    <link href="static/css/animate.css" rel="stylesheet">
    <link href="static/css/owl.carousel.min.css" rel="stylesheet">


    <!-- Main css -->
    <link href="static/css/main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- Preloader -->
<div class="preloader">
    <div class="spinner">
        <span class="spinner-rotate"></span>
    </div>
</div>
<!-- /Preloader -->

<!-- Header Area -->
<header class="main_menu_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="index.html"><img src="static/images/logo.png" alt=""></a>
                    <div class="mobile_toggle">
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active"><a class="nav-link" href="/">Inicio</a></li>
                            <li class="nav-item dropdown submenu">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    Explorar <i class="fa fa-chevron-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="about.html">Sobre Nosotros</a></li>
                                    <li class="nav-item"><a class="nav-link" href="faq.html">Preguntas Frecuentes</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="contact.html">Contáctenos</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown submenu">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    Categorias <i class="fa fa-chevron-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a></a></li>
                                    <li><a href="listing-grid.html">Listing Grid</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="listing-list.html">Listing List</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="listing-details.html">Listing
                                        Details</a></li>
                                    <li class="nav-item"><a class="nav-link" href="add-listing.html">Add Listing</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown submenu">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">

                                    Más <i class="fa fa-chevron-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="blog.html">Noticias</a></li>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header Area -->

<!--Hero Area-->
{% for configuracion in configuraciones %}
    <section class="hero-area dark-overlay" style="background: url({{ configuracion.banner1.url }}) no-repeat">

    <div class="container">
    <div class="row">
    <div class="col">
    <div class="hero-content cl-white centered">
    <h1 class="wow fadeInUp" data-wow-delay="0.3s"><span>{{ configuracion.texto1 }}</span>
        <br/>{{ configuracion.texto2 }}</h1>
{% endfor %}
</div>
<div class="listing-search wow fadeInUp" data-wow-delay="0.4s">
    <div class="listing-label nav nav-tabs">
        <a href="" data-target="#event" data-toggle="tab"><span><i class="fas fa-calendar-alt"></i>Event</span></a>
        <a href="" data-target="#hotel" data-toggle="tab"><span><i class="fa fa-hotel"></i>Hotel</span></a>
        <a href="" data-target="#travel" data-toggle="tab"><span><i class="fa fa-plane"></i>Travel</span></a>
        <a href="" data-target="#restaurant" data-toggle="tab"><span><i
                class="fas fa-utensils"></i>Restaurant</span></a>
    </div>
    <div id="listing" class="listing-form tab-pane fade active show wow fadeInUp" data-wow-delay="0.4s">
        <form action="#">
            <input type="text" placeholder="Search" required/>
            <select name="Listselect">
                <option value="">Event</option>
                <option value="">Hotel</option>
                <option value="">Travel</option>
                <option value="">Restaurant</option>
            </select>
            <button type="submit">Search</button>
        </form>
    </div>
    <div id="event" class="listing-form tab-pane fade">
        <form action="#">
            <input type="text" placeholder="Search Event" required/>
            <select name="Listselect">
                <option value="">Event</option>
            </select>
            <button type="submit">Search</button>
        </form>
    </div>
    <div id="real-estate" class="listing-form tab-pane fade">
        <form action="#">
            <input type="text" placeholder="Search Real Estate" required/>
            <select name="Listselect">
                <option value="">Event</option>
                <option value="">Hotel</option>
                <option value="">Travel</option>
                <option value="">Restaurant</option>
            </select>
            <button type="submit">Search</button>
        </form>
    </div>
    <div id="location" class="listing-form tab-pane fade">
        <form action="#">
            <input type="text" placeholder="Search Location" required/>
            <select name="Listselect">
                <option value="">Event</option>
                <option value="">Hotel</option>
                <option value="">Travel</option>
                <option value="">Restaurant</option>
            </select>
            <button type="submit">Search</button>
        </form>
    </div>
    <div id="job" class="listing-form tab-pane fade">
        <form action="#">
            <input type="text" placeholder="Search Job" required/>
            <select name="Listselect">
                <option value="">Event</option>
                <option value="">Hotel</option>
                <option value="">Travel</option>
                <option value="">Restaurant</option>
            </select>
            <button type="submit">Search</button>
        </form>
    </div>
    <div id="hotel" class="listing-form tab-pane fade">
        <form action="#">
            <input type="text" placeholder="Search Hotel" required/>
            <select name="Listselect">
                <option value="">Hotel</option>
                <option value="">Event</option>
                <option value="">Travel</option>
                <option value="">Restaurant</option>
            </select>
            <button type="submit">Search</button>
        </form>
    </div>
    <div id="travel" class="listing-form tab-pane fade">
        <form action="#">
            <input type="text" placeholder="Search Travel" required/>
            <select name="Listselect">
                <option value="">Travel</option>
                <option value="">Event</option>
                <option value="">Hotel</option>
                <option value="">Restaurant</option>
            </select>
            <button type="submit">Search</button>
        </form>
    </div>
    <div id="restaurant" class="listing-form tab-pane fade">
        <form action="#">
            <input type="text" placeholder="Search Restaurant" required/>
            <select name="Listselect">
                <option value="">Restaurant</option>
                <option value="">Event</option>
                <option value="">Hotel</option>
                <option value="">Travel</option>
            </select>
            <button type="submit">Search</button>
        </form>
    </div>
    <div id="park" class="listing-form tab-pane fade">
        <form action="#">
            <input type="text" placeholder="Search Park" required/>
            <select name="Listselect">
                <option value="">Event</option>
                <option value="">Hotel</option>
                <option value="">Travel</option>
                <option value="">Restaurant</option>
            </select>
            <button type="submit">Search</button>
        </form>
    </div>
</div>
</div>
</div>
</div>
</section>
<!--/Hero Area-->

<!--How It Works Area-->
<section class="how-it-works section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 centered wow fadeInUp" data-wow-delay="0.3s">
                <div class="section-title">
                    <h2 class="cl-black">¿Qué quieres hacer hoy?</h2>
                    <p>Those an equal point no years do. Depend warmth fat but her but played. Shy and subjects wondered
                        trifling pleasant.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 wow fadeInLeft" data-wow-delay="0.4s">
                <div class="single-how-it-works">
                    <img src="static/images/how-it-works1.png" alt=""/>
                    <h3 class="cl-black">Choose What To Do</h3>
                    <p>Meant balls it if up doubt small purse. Required his you put outlived answered position. An
                        pleasure exertion believed provided to.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="0.5s">
                <div class="single-how-it-works">
                    <img src="static/images/how-it-works2.png" alt=""/>
                    <h3 class="cl-black">Find What You Want</h3>
                    <p>Meant balls it if up doubt small purse. Required his you put outlived answered position. An
                        pleasure exertion believed provided to.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 wow fadeInRight" data-wow-delay="0.6s">
                <div class="single-how-it-works">
                    <img src="static/images/how-it-works3.png" alt=""/>
                    <h3 class="cl-black">Explore Amazing Places</h3>
                    <p>Meant balls it if up doubt small purse. Required his you put outlived answered position. An
                        pleasure exertion believed provided to.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/How It Works Area-->

<!--Promote Business Area-->
<section class="promote-business section-padding dark-overlay"
         style="background: url(static/images/business-promote-banner.jpg) no-repeat">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 centered">
                <div class="cl-white">
                    <h2 class="mb-40 wow fadeInUp" data-wow-delay="0.3s">Promote Your Business With Us 45% Off
                        Today</h2>
                    <a class="bttn btn-fill wow fadeInUp" data-wow-delay="0.4s" href="">Contáctenos</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Promote Business Area-->

<!--Interested In Area-->
<section class="interested-in section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 centered wow fadeInUp" data-wow-delay="0.3s">
                <div class="section-title">
                    <h2 class="cl-black">What Are You Interested in?</h2>
                    <p>Those an equal point no years do. Depend warmth fat but her but played. Shy and subjects wondered
                        trifling pleasant.</p>
                </div>
            </div>
        </div>
        <div class="row mb-40">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="0.5s">
                <div class="single-listing-directory">
                    <img src="static/images/listing-directory1.jpg" alt="">
                    <div class="listing-directory-content">
                        <a href=""><h3>Le Bernardin</h3></a>
                        <p>Those an equal point no years do. Depend warmth fat but her but played. Shy
                            and subjects wondered trifling pleasant.</p>
                        <div class="listing-location">
                            <i class="fa fa-address-book"></i>3791 Thompson Street
                        </div>
                        <div class="listing-contact">
                            <i class="fa fa-phone"></i>909-987-12345
                        </div>
                    </div>
                    <div class="directory-ratings">
                        <span><i class="fa fa-hotel"></i>Restaurant</span>
                        <span class="star-ratings">
			                                		<i class="fa fa-star"></i>
			                                		<i class="fa fa-star"></i>
			                                		<i class="fa fa-star"></i>
			                                		<i class="fa fa-star"></i>
			                                		<i class="fa fa-star"></i>
			                                		(16)
			                                	</span>
                        <a href=""><span class="directory-wishlist"><i
                                class="fa fa-heart"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="0.6s">
                <div class="single-listing-directory">
                    <img src="static/images/listing-directory2.jpg" alt="">
                    <div class="listing-directory-content">
                        <a href=""><h3>Beauty at Home</h3></a>
                        <p>Those an equal point no years do. Depend warmth fat but her but played. Shy
                            and subjects wondered trifling pleasant.</p>
                        <div class="listing-location">
                            <i class="fa fa-address-book"></i>3791 Thompson Street
                        </div>
                        <div class="listing-contact">
                            <i class="fa fa-phone"></i>909-987-12345
                        </div>
                    </div>
                    <div class="directory-ratings">
                        <span><i class="fa fa-hotel"></i>Restaurant</span>
                        <span class="star-ratings">
			                                		<i class="fa fa-star"></i>
			                                		<i class="fa fa-star"></i>
			                                		<i class="fa fa-star"></i>
			                                		<i class="fa fa-star"></i>
			                                		<i class="fa fa-star"></i>
			                                		(16)
			                                	</span>
                        <a href=""><span class="directory-wishlist"><i
                                class="fa fa-heart"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="0.7s">
                <div class="single-listing-directory">
                    <img src="static/images/listing-directory3.jpg" alt="">
                    <div class="listing-directory-content">
                        <a href=""><h3>Jean Georges</h3></a>
                        <p>Those an equal point no years do. Depend warmth fat but her but played. Shy
                            and subjects wondered trifling pleasant.</p>
                        <div class="listing-location">
                            <i class="fa fa-address-book"></i>3791 Thompson Street
                        </div>
                        <div class="listing-contact">
                            <i class="fa fa-phone"></i>909-987-12345
                        </div>
                    </div>
                    <div class="directory-ratings">
                        <span><i class="fa fa-hotel"></i>Restaurant</span>
                        <span class="star-ratings">
			                                		<i class="fa fa-star"></i>
			                                		<i class="fa fa-star"></i>
			                                		<i class="fa fa-star"></i>
			                                		<i class="fa fa-star"></i>
			                                		<i class="fa fa-star"></i>
			                                		(16)
			                                	</span>
                        <a href=""><span class="directory-wishlist"><i
                                class="fa fa-heart"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="0.8s">
                <div class="single-listing-directory">
                    <img src="static/images/listing-directory4.jpg" alt="">
                    <div class="listing-directory-content">
                        <a href=""><h3>Affinia 50</h3></a>
                        <p>Those an equal point no years do. Depend warmth fat but her but played. Shy
                            and subjects wondered trifling pleasant.</p>
                        <div class="listing-location">
                            <i class="fa fa-address-book"></i>3791 Thompson Street
                        </div>
                        <div class="listing-contact">
                            <i class="fa fa-phone"></i>909-987-12345
                        </div>
                    </div>
                    <div class="directory-ratings">
                        <span><i class="fa fa-hotel"></i>Restaurant</span>
                        <span class="star-ratings">
			                                		<i class="fa fa-star"></i>
			                                		<i class="fa fa-star"></i>
			                                		<i class="fa fa-star"></i>
			                                		<i class="fa fa-star"></i>
			                                		<i class="fa fa-star"></i>
			                                		(16)
			                                	</span>
                        <a href=""><span class="directory-wishlist"><i
                                class="fa fa-heart"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="0.9s">
                <div class="single-listing-directory">
                    <img src="static/images/listing-directory5.jpg" alt="">
                    <div class="listing-directory-content">
                        <a href=""><h3>Atrium Suites</h3></a>
                        <p>Those an equal point no years do. Depend warmth fat but her but played. Shy
                            and subjects wondered trifling pleasant.</p>
                        <div class="listing-location">
                            <i class="fa fa-address-book"></i>3791 Thompson Street
                        </div>
                        <div class="listing-contact">
                            <i class="fa fa-phone"></i>909-987-12345
                        </div>
                    </div>
                    <div class="directory-ratings">
                        <span><i class="fa fa-hotel"></i>Restaurant</span>
                        <span class="star-ratings">
			                                		<i class="fa fa-star"></i>
			                                		<i class="fa fa-star"></i>
			                                		<i class="fa fa-star"></i>
			                                		<i class="fa fa-star"></i>
			                                		<i class="fa fa-star"></i>
			                                		(16)
			                                	</span>
                        <a href=""><span class="directory-wishlist"><i
                                class="fa fa-heart"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="1s">
                <div class="single-listing-directory">
                    <img src="static/images/listing-directory6.jpg" alt="">
                    <div class="listing-directory-content">
                        <a href=""><h3>Comfort Stay NYC</h3></a>
                        <p>Those an equal point no years do. Depend warmth fat but her but played. Shy
                            and subjects wondered trifling pleasant.</p>
                        <div class="listing-location">
                            <i class="fa fa-address-book"></i>3791 Thompson Street
                        </div>
                        <div class="listing-contact">
                            <i class="fa fa-phone"></i>909-987-12345
                        </div>
                    </div>
                    <div class="directory-ratings">
                        <span><i class="fa fa-hotel"></i>Restaurant</span>
                        <span class="star-ratings">
			                                		<i class="fa fa-star"></i>
			                                		<i class="fa fa-star"></i>
			                                		<i class="fa fa-star"></i>
			                                		<i class="fa fa-star"></i>
			                                		<i class="fa fa-star"></i>
			                                		(16)
			                                	</span>
                        <a href=""><span class="directory-wishlist"><i
                                class="fa fa-heart"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Interested In Area-->



<!--Search Listing Area-->
<section class="search-listing section-padding dark-overlay"
         style="background: url(static/images/search-listing-bg.jpg) no-repeat">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 cl-white wow fadeInLeft" data-wow-delay="0.3s">
                <h3>Special Offers Every Day</h3>
                <h2>Enjoy The New Experience fo The Listing</h2>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 wow fadeInRight" data-wow-delay="0.4s">
                <a class="bttn btn-fill mt-30 promo-btn" href="">Search Listing</a>
            </div>
        </div>
    </div>
</section>
<!--/Search Listing Area-->


<!--Blog Area-->
<section class="blog-area section-padding">
    <div class="container">
        <div class="row justify-content-center wow fadeInUp" data-wow-delay="0.3s">
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 centered">
                <div class="section-title">
                    <h2 class="cl-black mb-40">Our Latest News</h2>
                    <p>Those an equal point no years do. Depend warmth fat but her but played. Shy and subjects wondered
                        trifling pleasant.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 blog-slider">
                <div class="single-blog wow fadeInUp" data-wow-delay="0.3s">
                    <img src="static/images/blog1.jpg" alt="">
                    <div class="single-blog-content">
                        <div class="single-blog-content-meta">
                            Category: <a href="">Restaurant</a> by &mdash; <a href="">Haris doe</a>
                        </div>
                        <h3><a href="">Hilarious Facts About AT&T CEO Randall</a></h3>
                        <p>Among going manor who did. Do ye is celebrated it sympathize considered. May ecstatic did
                            surprise elegance the ignorant age.It so numerous if he outlived disposal.</p>
                        <a class="read-more" href="">Read More</a>
                    </div>
                </div>
                <div class="single-blog wow fadeInUp" data-wow-delay="0.4s">
                    <img src="static/images/blog2.jpg" alt="">
                    <div class="single-blog-content">
                        <div class="single-blog-content-meta">
                            Category: <a href="">Restaurant</a> by &mdash; <a href="">Haris doe</a>
                        </div>
                        <h3><a href="">Hilarious Facts About AT&T CEO Randall</a></h3>
                        <p>Among going manor who did. Do ye is celebrated it sympathize considered. May ecstatic did
                            surprise elegance the ignorant age.It so numerous if he outlived disposal.</p>
                        <a class="read-more" href="">Read More</a>
                    </div>
                </div>
                <div class="single-blog wow fadeInUp" data-wow-delay="0.5s">
                    <img src="static/images/blog3.jpg" alt="">
                    <div class="single-blog-content">
                        <div class="single-blog-content-meta">
                            Category: <a href="">Restaurant</a> by &mdash; <a href="">Haris doe</a>
                        </div>
                        <h3><a href="">Hilarious Facts About AT&T CEO Randall</a></h3>
                        <p>Among going manor who did. Do ye is celebrated it sympathize considered. May ecstatic did
                            surprise elegance the ignorant age.It so numerous if he outlived disposal.</p>
                        <a class="read-more" href="">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Blog Area-->

<!--Footer Area-->
<footer class="footer-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="single-footer">
                    <img src="static/images/logo.png" alt="">
                    <p>Folly was these three and songs arose whose. Of in vicinity contempt together in possible
                        branched.</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
                <div class="single-footer">
                    <h3>Quick Link</h3>
                    <div class="footer-menu">
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">About</a></li>
                            <li><a href="">Domain</a></li>
                            <li><a href="">Hosting</a></li>
                            <li><a href="">Security</a></li>
                            <li><a href="">Blog</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="single-footer">
                    <h3>Contact Us</h3>
                    <div class="footer-contact-info">
                        <div class="single-footer-info">
                            <i class="fas fa-map-marker-alt"></i>
                            <p>5654, south place, New Yourk, Country Name</p>
                        </div>
                        <div class="single-footer-info">
                            <i class="fas fa-phone"></i>
                            <p>+028 71685221, +027 8576982</p>
                        </div>
                        <div class="single-footer-info">
                            <i class="fas fa-envelope"></i><a href="mailto:">yourmail@email.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/Footer Area-->

<div class="copyright-text">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col centered">
                <p>&copy; 2019 All Rights Reserved &mdash; Created by <a href="">Dlisting.</a></p>
            </div>
        </div>
    </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="static/js/jquery-3.2.1.min.js"></script>
<script src="static/js/jquery-migrate.js"></script>
<script src="static/js/jquery-ui.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="static/js/popper.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/owl.carousel.min.js"></script>

<script src="static/js/waypoints.min.js"></script>
<script src="static/js/jquery.counterup.min.js"></script>
<script src="static/js/scrollUp.min.js"></script>
<script src="static/js/wow.min.js"></script>
<script src="static/js/script.js"></script>
</body>
</html>